@import './variables.scss';
.appBar{
    background-color: $sandy;
}
.app-bar{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2) !important;
    border-bottom: black solid 1px;
}
.header-title{
    font-weight: 500;
    padding: 0.25em;
    font-size: 21px !important;
}
.header-search{
    position: relative;
    border-radius: 0.5em;
    background-color: white;
    height: 3em;
    opacity: 0.15;
    color: black;
    margin-right: 0.25em;
    margin-left: 0em;
}

.header-icon{
    padding: 10px;
    height: 100%;
    cursor: pointer;
    display: flex;
}

.header-icon.search{
    position: absolute;
    left: 2%;
}

.header-icon.clear{
    position: absolute;
    right: 0%;
    right: 2%;
}

.top-menu{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.drawer{
    width: 240px;
    flex-shrink: 0;
    white-space: nowrap;
    padding-top: 4em;
}

.drawer-open{
    width: 240px;
    transition: width ease-out 0.3s;
}

.drawer-close{
    transition: width ease-out 0.3s;
    overflow: hidden;
    width: 40px;
}

.user-photo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-details {
    margin-left: 10%;
}