.note-card{
    padding: 1em;
    text-align: start;
    border-radius: 10px !important;
    overflow: hidden;
}

.note-row{
    height: 10em;
    padding-top: 5%;
}

.note{
    justify-content: center;
    margin-top: 15%;
}

.note-content{
    max-height: 18em;
    overflow: hidden;
}

.main-card-title{
    color: gray;
    padding-bottom: 10px;
    border: none;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 15px;
}

.main-card-notes{
    color: gray;
    border: none;
    width: 100%;
    font-size: medium;
    font-weight: bold;
}

.close-button {
   display: flex;
   float: right;
}

.icons{
    display: flex;
    float: left;
    padding:1px
}

.Icons-Buttons{
padding-top: 10px;
}

.icon{
    padding-right: 20px;
    color: gray;
}

