.note-card{
    padding: 1em;
    text-align: start;
    border-radius: 10px !important;
    overflow: hidden;
    margin-top: 10%;
}

.note-row{
    height: 10em;
    padding-top: 5%;
}

.note{
    justify-content: center;
    margin-top: 15%;
}

.note-content{
    max-height: 18em;
    overflow: hidden;
}

.main-card-title{
    color: gray;
    padding-bottom: 10px;
    border: none;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 15px;
}

.main-card-notes{
    color: gray;
    border: none;
    width: 100%;
    font-size: medium;
    font-weight: bold;
}

.close-button {
   display: flex;
   float: right;
}

.icons{
    display: flex;
    float: left;
    padding:1px
}

.Icons-Buttons{
padding-top: 10px;
}

.icon{
    padding-right: 20px;
    color: gray;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.main-card-div{
padding-top: 15px;
padding-bottom: 50px;
  position: relative;
  left:10%;
  height: 75vh;
  float: left;
  display: flex;
  width: 76%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  font-family: 'Roboto', sans-serif;
} 

.note-card-list{
    border: 1px solid rgb(197, 195, 195);
    padding: 35px 35px 1px 35px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.note-card-list:hover{
         box-shadow: 5px 10px 18px #888888;
}

.dynamic-icons{
    display: flex;
    float: left;
    padding:1px;
}