 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

$font: 'Roboto', ' sans-serif';
$light-gray: rgb(211,211,211);
$cornblue:rgb(100,149,237);
$background-color:#f1f1f1;
$light-blue:rgb(178, 199, 216);
$black:rgb(0,0,0);
$gray-color:rgb(128,124,135);
$pinky:#ddd;
$sandy:#fffff1; 